$base-font-size: 16px;

$font-roboto: 'Roboto', sans-serif;

$color-white: #ffffff;

$text-dark: #1E1E1E;
$text-gray: #7E7E7E;

$transition: .3s ease;

$border-round: 50%;
$border-rounded: 0.25rem;

$box-shadow-primary: 0 0 10px 0 rgba(#000000, 0.15);
$box-shadow-secondary: 0 0 10px 0 rgba(#000000, 0.25);

$button-primary-bg: #B5DBDD;