@import url(normalize.css);
@import 'variables';

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: $base-font-size;
}

body {
	font-family: Roboto, sans-serif;
	color: #1E1E1E;
}

.container {
	padding: 0 16px;
	margin: 0 auto;
	max-width: 656px;
	min-width: 320px;
}

.button__primary {
	display: inline-block;
	padding: 0.3125rem 0.5rem;
	border-radius: $border-rounded;
	background-color: $button-primary-bg;
	font-size: 0.75rem;
	cursor: pointer;
}